@model TaskResponse

<h2 class="mt-5">Edit Task</h2>

<form id="taskEditForm" class="d-flex flex-column gap-5" asp-action="Edit" asp-route-taskId="@Model.Id" asp-route-toDoListID="@Model.ToDoListId" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ToDoListId" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DueDateTime">Due Date</label>
        <input type="date" asp-for="DueDateTime" class="form-control" value="@DateTime.Now" />
        <span asp-validation-for="DueDateTime" class="text-danger"></span>
    </div>
</form>

<button type="submit" form="taskEditForm" class="btn btn-outline-primary mt-5">Update</button>
<a asp-controller="TodoList" asp-action="Get" asp-route-id="@Model.ToDoListId" class="btn btn-primary mt-5">Cancel</a>